# NOVA IMS | Enterprise Data Science Bootcamp

The customer we are working with, is a multi-national company that works on the health sector. <br>

They want to predict what products their customers shall need the most, based on their past purchases but also on other variables that could be interesting <br>

The dataset consists in two different files: <br>
- __stock.csv:__ transactional information about sales of products.
    - _country_code – Code of the country
    - _cac – customer 
    - _product_code – product sold
    - _month_code – year and month of the sale
    - _currency_code - currency
    - _invoiced_sales - sales
    - _volume_primary_units – number of sold units 
    - _inventory_cost – cost of the product for the company (unitary cost multiplied by volume)  

 <br>
- __product_master.csv:__ To complement the file above with more details about the product. 
    - _bravo_ww_fran_name – company designation for the global group
    - _bravo_fran_name – company designation for a region of the group
    - _bravo_sub_fran_name – company area
    - _bravo_major_name – product family
    - _bravo_minor_name – product sub-family
    - _product_code – product code

## 1. Transactional information about sales of products
Explore main research questions about stock.csv data

Research Questions: <br>

- Existe uma relação entre top o __product_code__ (count of __volume_primary_units__) vendidos por __country_code__ ?
- Que __country_code__ tem mais __volume_primary_units__ por __country_Population__ (external) ?
- Podemos separar __cac__ por  __product_code__ e por __invoiced_sales__ ? (clusters)
- Existe __product_code__ mais vendidos dependendo do o __month_code__ 
- Existe uma relação entre top o __invoiced_sales__  por __country_code__ ?
- Que __country_code__ tem mais consumo por __country_Population__ (external) ?
- Existe relação entre __invoiced_sales__ dependendo do o __month_code__ ?
- New Feature: __Profit__ : invoiced_sales - inventory_cost

__Step 0:__ Import stock.csv data

In [1]:
import pandas as pd

df = pd.read_csv (r'C:\Users\Ricar\OneDrive\Desktop\IMS_Bootcamp2022\stock.csv',decimal=',')
df.head(5)

C:\Users\Ricar\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,country_code,cac,product_code,month_code,invoiced_sales,volume_primary_units,inventory_cost
0,country_code_0,cac_0,product_code_0,190001.0,0.0,0.0,0.0
1,country_code_0,cac_0,product_code_1,190001.0,0.0,0.0,0.0
2,country_code_0,cac_0,product_code_2,190001.0,0.0,0.0,0.0
3,country_code_0,cac_0,product_code_3,190001.0,0.0,0.0,0.0
4,country_code_0,cac_0,product_code_4,190001.0,0.0,0.0,0.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5199686 entries, 0 to 5199685
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   country_code          object
 1   cac                   object
 2   product_code          object
 3   month_code            object
 4   invoiced_sales        float64
 5   volume_primary_units  object
 6   inventory_cost        float64
dtypes: float64(2), object(5)
memory usage: 277.7+ MB

In [3]:
df['volume_primary_units']=df['volume_primary_units'].str.replace(',', '.').astype(float)

In [4]:
df['month_code'].fillna("190001.0", inplace = True)
#df['month_code']=df['month_code'].replace('.0', '')
df['Year']=df['month_code'].str.slice(stop=4).astype(int)
df['Month']=df['month_code'].str.slice(start=4).astype(float).astype(int)
df.head(5)

,country_code,cac,product_code,month_code,invoiced_sales,volume_primary_units,inventory_cost,Year,Month
0,country_code_0,cac_0,product_code_0,190001.0,0.0,NaN,0.0,1900,1
1,country_code_0,cac_0,product_code_1,190001.0,0.0,NaN,0.0,1900,1
2,country_code_0,cac_0,product_code_2,190001.0,0.0,NaN,0.0,1900,1
3,country_code_0,cac_0,product_code_3,190001.0,0.0,NaN,0.0,1900,1
4,country_code_0,cac_0,product_code_4,190001.0,0.0,NaN,0.0,1900,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5199686 entries, 0 to 5199685
Data columns (total 9 columns):
 #   Column                Dtype
---  ------                -----
 0   country_code          object
 1   cac                   object
 2   product_code          object
 3   month_code            object
 4   invoiced_sales        float64
 5   volume_primary_units  float64
 6   inventory_cost        float64
 7   Year                  int32
 8   Month                 int32
dtypes: float64(3), int32(2), object(4)
memory usage: 317.4+ MB

In [6]:
df.describe()

,invoiced_sales,volume_primary_units,inventory_cost,Year,Month
count,5.199685e+06,87877.000000,5.199685e+06,5.199686e+06,5.199686e+06
mean,4.758037e+02,28.552860,1.327282e+02,2.010768e+03,5.371207e+00
std,3.261229e+03,107.120581,5.456651e+02,2.899380e+01,3.350758e+00
min,-1.577132e+06,-3564.000000,-4.804762e+04,1.900000e+03,1.000000e+00
25%,3.213000e+01,1.000000,1.064205e+01,2.018000e+03,3.000000e+00
50%,1.385200e+02,2.000000,4.133894e+01,2.018000e+03,5.000000e+00
75%,4.194600e+02,20.000000,1.188187e+02,2.019000e+03,8.000000e+00
max,3.593982e+06,12000.000000,3.291600e+05,2.019000e+03,1.200000e+01

In [ ]:
from pandas_profiling import ProfileReport
profile = ProfileReport(df, title="Stocks")

In [ ]:
profile